
---
layout: ""
page_title: "Provider: NDFC"
description: |-
  The NDFC provider provides resources to interact with a Cisco Nexus Dashboard Fabric Controller instance.
---

# NDFC Provider

The NDFC provider provides resources to interact with a Cisco Nexus Dashboard Fabric Controller instance.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
